.btn-ar{
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

swiper-container{
    width: 390px;
    height: 260px;
}


h1{
    font-weight: bold;
}

p{ 
    font-size: large;
}

hr {

    border: 0;
    border-top: 1px solid #9b9b9b7c;
  }